node_modules/
dist/
build/
coverage/
.env
.DS_Store   
*.log
*.tsbuildinfo
.vscode/
.idea/
.eslintcache
*.pem
.eslintignore
*.prettierignore
*.env.local
*.env.development
*.env.test
*.env.production
.next/
